{{> menu active="dashboard"}}

<section class="section is-small columns">
  <div class="column">
    <img src="/images/hiker-welcome.jpg">
    {{> add-category}}
  </div>
  <div class="column">
  {{> list-categorys}}
 
  </div>
</section>

